


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Basics of Web Development</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Basics of Web Development</h1>

<nav>
<a href="/">Home</a>
<a href="/basics">Basics</a>
<a href="/design">Design</a>
<a href="/development">Development</a>
<a href="/deployment">Deployment</a>
<a href="/resources">Resources</a>
</nav>

<main>
<section>
<h2>HTML</h2>
<p>HTML (Hypertext Markup Language) is the code that you use to create the structure of a web page. It tells the browser how to display the text, images, and other elements on the page.</p>
<p>Here's an example of a simple HTML document:</p>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;title&gt;My Web Page&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
<h1>Welcome to My Web Page</h1>
&lt;p&gt;This is my first web page.&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>

<p>To learn more about HTML, check out the following resources:</p>
<ul>
<li><a href="https://www.w3schools.com/html/">W3Schools HTML Tutorial</a></li>
<li><a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML">Mozilla Developer Network HTML Tutorial</a></li>
<li><a href="https://www.codecademy.com/learn/learn-html">Codecademy Learn HTML</a></li>
</ul>
</section>

<section>
<h2>CSS</h2>
<p>CSS (Cascading Style Sheets) is the code that you use to style the elements on your web page. It allows you to control the appearance of the text, images, and other elements on the page.</p>
<p>Here's an example of a simple CSS document:</p>
<pre><code>body {
font-family: Arial, sans-serif;
}

h1 {
font-size: 2em;
}

p {
font-size: 1em;
}
</code></pre>

<p>To learn more about CSS, check out the following resources:</p>
<ul>
<li><a href="https://www.w3schools.com/css/">W3Schools CSS Tutorial</a></li>
<li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS">Mozilla Developer Network CSS Tutorial</a></li>
<li><a href="https://www.codecademy.com/learn/learn-css">Codecademy Learn CSS</a></li>
</ul>
</section>

<section>
<h2>JavaScript</h2>
<p>JavaScript is a programming language that you can use to add interactivity to your web pages. It allows you to create things like slideshows, animations, and games.</p>
<p>Here's an example of a simple JavaScript script:</p>
<pre><code>&lt;script&gt;
function sayHello() {
alert("Hello, world!");
}
&lt;/script&gt;
</code></pre>

<p>To learn more about JavaScript, check out the following resources:</p>
<ul>
<li><a href="https://www.w3schools.com/js/">W3Schools JavaScript Tutorial</a></li>
<li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps">Mozilla Developer Network JavaScript Tutorial</a></li>
<li><a href="https://www.codecademy.com/learn/learn-javascript">Codecademy Learn JavaScript</a></li>
</ul>
</section>
</main>

<footer>
<p>Copyright &copy; 2023 Build a Website</p>
</footer>
</body>
</html>



